* {
    margin: 0.1;
    padding: 0.1;
}

a{

    text-decoration: none;
}

.infobox{

    background-color: rgb(245, 242, 204);
    font-size: medium;
    width: 98%;
    height: 600px;
    overflow: scroll;
    text-align: center;
    align-items: center;

}
.headings{

    font-family: fantasy;
    color: crimson;
    overflow: hidden;
}

.center{

    text-align: center;
}

.titleColor{

    color: rgb(11, 151, 216);
    font-size: larger;

}

.fondoFooter{

    background-color: black;

}

.containerRow{

    border: 2px solid black;
    width: 98%;
    height: 60%;
    font-size: medium;
    text-align: center;
    background-color: aliceblue;
    overflow: scroll;
}

.containerRow{

    display: flexbox;
    flex-direction: wrap;
    align-items: center;
}
.sectionCenter{

    align-content: center;

}

.grid{

    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 50% 50%;
    background-color: azure;
    margin: 0.1cm 0.1cm;
    align-items: center;
    align-content: center;
    overflow: scroll;
    display: flexbox;
    flex-wrap: wrap;

}

.change {

    transform: scale(2,1);
}
.box{

    width: 50px;
    height: 50px;
    margin: 60px 40px;
    border-radius: 5px;
}
.box1{

    background-color: aqua;
}

.box2{

    background-color: blanchedalmond;
}